/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */

@tailwind base;

/**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */

@tailwind components;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

  /*Card*/
  
  .card {
    @apply bg-white rounded overflow-hidden shadow mx-2;
    transition: -webkit-transform .1s ease-in;
    transition: transform .1s ease-in;
    transition: transform .1s ease-in,-webkit-transform .1s ease-in;
  }

  .card:hover {
    @apply shadow-lg;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }

  .card img {
    @apply h-auto w-auto rounded-t shadow;
  }

  .new-badge {
    @apply ml-2 bg-brand text-white text-sm border-none rounded font-bold p-1 absolute top-0 right-0;
  }

  .card-title {
    @apply text-center font-bold text-sm pt-2 my-1;
  }

  .card-description {
    @apply absolute top-0 bg-brand text-white font-bold text-sm p-3;
    transition: -webkit-transform .1s ease-in;
    transition: transform 1s ease-in;
    transition: transform 1s ease-in,-webkit-transform 1s ease-in;
  }

  .card-author {
    @apply text-center text-gray-200 text-xs mb-3;
  }



  @screen sm {

    .card-title {
      @apply text-base my-2;
    }

    .card-author {
      @apply text-sm;
    }

  }




  /*Links*/
  .navlink {
	  @apply mr-2 pb-1 px-2 border-l-2 border-b-0 border-transparent text-white text-base font-bold text-center no-underline;	  
  }
  
  .navlink:hover {
	  @apply text-teal-200 border-teal-100 no-underline;	  
  }
  
  @screen sm {
    .navlink {
      @apply mr-2 pb-1 px-2 border-l-0 border-b-2;	   
    }
  }

  .footerlink {
	  @apply text-brand-ondark font-bold no-underline;	  
  }
  
  .footerlink:hover {
	  @apply text-brand-alt font-bold no-underline;	  
  }
   
  a {
	@apply text-brand underline;
  }
  a:hover {
	@apply text-teal-700 underline;
  }

  /*Code syntax*/
  .code {
	@apply bg-gray-100 p-1 text-gray-800 font-mono shadow break-words;
  }
  
  /*Faux cmd window */
  .window-nav {
	@apply rounded-t border-t border-l border-r border-teal-400 bg-teal-400 px-4 py-2;
  }
  .window-nav-dot {
	  @apply inline-block rounded-full bg-gray-100 h-3 w-3 mr-1;
  }
  .window-bg {
	  @apply relative bg-black text-white text-sm font-mono tracking-wide break-normal p-4;
  }
  
  /*Button*/
  .btn {
	  @apply bg-brand text-white no-underline text-sm border-none rounded font-bold p-3 mt-2;
  }
  .btn:hover {
	  @apply bg-teal-700 text-white no-underline shadow;
  }
  .template-btn {
    @apply block w-full bg-brand text-white text-sm border-none rounded font-bold fixed p-3 mt-2 relative inset-x-0 bottom-0;
  }
  .template-btn:hover {
    @apply bg-teal-400 no-underline;
  }

  /*Card
  .card {
    @apply bg-white rounded overflow-hidden shadow mx-2;
  }
  .card:hover {
    @apply shadow-lg;
  }*/
  
  /*Tabs*/

  .tab {
    @apply text-gray-700 no-underline inline-block py-2 px-4 font-semibold
  }
  .tab:hover { 
    @apply text-brand border-b-4 border-brand
  }
  .active-tab { 
    @apply text-brand border-b-4 border-brand

  }

	.nunito {
		font-family: 'Nunito', Tahoma;
	}
  
  #post-content p {
		padding-top: 0.7em;
  }
  

  /*Horizontal Scrolling*/
  .scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
   }
  
  .scroll::-webkit-scrollbar {
    display: none; }


.hidescrollbar {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.hidescrollbar::-webkit-scrollbar {
  display: none; }


/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */

@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
  
