<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tailwind Starter Template - {{> template-name-data }} : Tailwind Toolbox</title>
  <meta name="description" content="Free open source Tailwind CSS starter template - {{> template-name-data }}">
  <meta name="keywords" content="tailwind,tailwindcss,tailwind css,css,starter template,free template">
  <?php include '../includes/head-templates.php'; ?>

  <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" />
  <!--Replace with your tailwind.css once created-->

</head>

<body>

</body>

</html>